today{
   
    color: black;
   
   }
   .table1{
       margin-left: 25px;
       background-color: #C6EBC5;
   
    
   }
   .p1{
      
   }
   .b1{
       margin-left: 5px;
       margin-bottom: 10px;
   }
   .tr1{
       background-color: #367E18;
      color: white;
       
   }
   .th1{
       background-color: white;
   }